{% extends 'blog/base.html' %}
{% block content %}
<style>
    body{
        background-color: #eeeeee;
    }
</style>
{% if from.errors %}
<p>There's something wrong with what you entered!</p>
{% endif %}
{% if next %}
<p>Hey, you can't access that page</p>
{% endif %}
<div class="container" style="margin:30px auto;">
    <div class="row">
        <form action="{% url 'login' %}" method="POST" class="col s12 m12">
            {% csrf_token %}
            <div class="row card-panel #4a148c purple darken-4">
                <h4 style="text-align: center;" class="white-text light">Login Form</h4>
                <div class="input-field col s12 m6 offset-m3">
                    {{form.username}}
                    <label for="id_username">Username</label>
                </div>
                <div class="input-field col s12 m6 offset-m3">
                {{form.password}}
                    <label for="id_password">Password</label>
                </div>
                <div class="col s12 m6 offset-m3">
                    <input class="waves-effect waves-light btn purple white-text" type="submit" value="login"><br>
                </div>
                <div class="col s12 m6 offset-m3 white-text">
                    <p class="message">Not registered? <a style="text-decoration: underline;" href="{% url 'register' %}">Create an account</a></p>
                    
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    inputForms = document.querySelectorAll('input')
    inputForms[1].classList += 'white-text';
    inputForms[2].classList += 'white-text';
</script>
{% endblock %}