{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<div class="row" style="margin-top: 30px;">
    <div class="col s12 m6 offset-m3">
        <div class="card-panel teal white-text">
            Hi! My name is Sandip Sadhukhan and I created this website as a side project of mine.Feel free to report bugs, contribute in this project. <br><br>
            Follow me on Github : <a href="https://github.com/sandippakhanna" target="_blank" style="color:white;text-decoration:underline;">Sandip Sadhukhan's Github</a>
        </div>
    </div>
  </div>
{% endblock %}

