<!-- Footer section -->
<footer class="page-footer purple">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">Dj-CMS is a project initiated by sandip sadhukhan and you can contribute in
          this project in the github a/c - <a class="white-text" href="https://github.com/sandippakhanna"
            target="_blank">sandippakhanna</a>.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Sitemap</h5>
        <ul>
          <li><a class="white-text" href="{% url 'index' %}">Home</a></li>
          <li><a class="white-text" href="{% url 'about_us' %}">About Us</a></li>
          <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
          <li><a class="white-text" href="{% url 'register' %}">Register</a></li>
          <li><a class="white-text" href="{% url 'profile' %}">Your Profile</a></li>
          <li><a class="white-text" href="{% url 'dashboard' %}">Your Dashboard</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="https://github.com/sandippakhanna/"><i class="fa fa-2x fa-github"></i></a></li>
          <li><a class="white-text" target="_blank" href="https://www.linkedin.com/in/sandipsadhukhan/"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
          <li><a class="white-text" target="_blank" href="https://twitter.com/yoursandip"><i class="fa fa-2x fa-twitter"></i></a></li>
          <li><a class="white-text" target="_blank" href="https://www.instagram.com/sandipweb/"><i class="fa fa-2x fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="purple-text text-lighten-3" href="#">Sandip Sadhukhan</a>
    </div>
  </div>
</footer>